<head>
    <link rel="stylesheet" href="/css/Home.css">
</head>

<div id="homeDivTitle">
    <section id="homeDivSectTop">
        <h1 id="homeh1Title">Lista de Productos</h1>
    </section>
    <section id="homeDivSectBottom">
        <ul id="homeUlProducts">
            {{#each products}}
            <li class="homeUlLi">
                <h2 class="homeUlLih2">Id: {{id}}</h2>
                <h3 class="homeUlLih3">Title: {{title}}</h3>
                <h4 class="homeUlLih4">Description: {{description}}</h4>
                <h4 class="homeUlLih4">Price: ${{price}}</h4>
                <h4 class="homeUlLih4">Status: {{status}}</h4>
                <h4 class="homeUlLih4">Stock: {{stock}}</h4>
                <h4 class="homeUlLih4">Category: {{category}}</h4>
                <h4 class="homeUlLih4">Thumbnails: {{thumbnails}}</h4>
            </li>
            {{/each}}
        </ul>
    </section>
</div>

<script src="/socket.io/socket.io.js"></script>